.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.14em;
  border-radius: 3px;
  border: none;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background-color: #121212;
  backface-visibility: hidden;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}

.btn-color {
  background-color: #f36b21;
}

.btn-button {
  border: none;
  margin-bottom: 0;
  width: auto;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.btn-lg, .btn-lg.btn-button {
  font-size: 13px;
  padding: 0 34px;
  line-height: 46px;
}

.btn-lg.btn-button {
  height: 46px;
}

.btn-button.btn-color, .btn-button.btn-dark {
  color: #fff;
}

.btn-lg, .btn-lg.btn-button {
  font-size: 13px;
  padding: 0 34px;
  line-height: 46px;
}

.btn-color {
  background-color: #e63247;
}

.btn-icon span {
  position: relative;
  display: inline-block;
  left: 0;
  transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
}

.btn-icon > i {
  position: absolute;
  left: auto;
  font-size: 18px;
  width: 36px;
  line-height: 46px;
  background-color: rgba(0, 0, 0, 0.05);
  right: -36px;
  top: 0;
  text-align: center;
  display: block;
  border-radius: 0 3px 3px 0;
  transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
}

.btn:hover {
  color: #fff;
  opacity: .9;
  border-color: transparent;
}

.btn-icon:hover span {
  left: -16px;
}

.btn-icon:hover i {
  right: 0;
}

